name: Create and deploy javadoc

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11
    - name: Build with Maven
      run: mvn -B javadoc:javadoc --file pom.xml
    - name: Upload artifact
      uses: actions/upload-artifact@v1.0.0
      with:
        # Artifact name
        name: javadoc
        # Directory containing files to upload
        path: target/site/
    - name: Checkout
      uses: actions/checkout@v2.0.0
      with:
        ref: gh-pages
    - run: rm -rf javadoc
    - name: Download artifact
      uses: actions/download-artifact@v1.0.0
      with:
        # Artifact name
        name: javadoc
        path: javadoc
    - run: ls javadoc
    - name: Git Commit and Push
      uses: github-actions-x/commit@v2.4
      with:
        push-branch: gh-pages
        # Github Token with commit access
        github-token: ${{ secrets.GITHUB_TOKEN }}